@font-face {
  font-family:'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family:'Montserrat';
  src: url('../fonts/Montserrat-Light.woff2');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Oswald';
  src: url('../fonts/Oswald-Semibold.woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Oswald';
  src: url('../fonts/Oswald-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Oswald';
  src: url('../fonts/Oswald-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Oswald';
  src: url('../fonts/Oswald-Light.woff2');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family:'Oswald';
  src: url('../fonts/Oswald-SemiBold.woff2');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
